cmake-build-debug/
build/
.idea/
tutorial/.venv
tutorial/venv
tutorial/site
tutorial/docs/doxygen
third_party/libtorch/
third_party/libtorch-12.8/
third_party/libtorch-11.8/
third_party/onnxruntime/
third_party/onnxruntime-amd64
third_party/libtorch
third_party/libtorch-amd64
#third_party/libtorch.zip
#third_party/onnxruntime-linux-x64-gpu-1.22.0.tgz
third_party/*.zip
third_party/*.tgz
third_party/*.tar.gz
#torch-extension/build/
#torch-extension/cmake-build-debug/
.qtcreator/
test/build
examples/build